@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play";
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #292929;
  font-size: 1.125rem;
  padding: 0 0.75rem 0;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  fill: #E01F3D;
}
@media screen and (max-width: 480px) {
  .logo {
    height: 2.9375rem;
    width: 2.9375rem;
  }
}

.menu {
  margin: 0 1.875rem;
  padding-top: 0.625rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.3125rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-family: "Alegreya Sans";
  white-space: nowrap;
}
.menu__link:hover {
  color: #E01F3D;
}

.phone-number {
  text-decoration: none;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 0.8125rem;
}

.phone-number__icon-elem {
  height: 0.875rem;
  width: 0.875rem;
  margin-right: 0.4375rem;
}

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  position: relative;
}
.hero:after {
  content: url("/beats-project/img/Vector1.svg");
  position: absolute;
  bottom: -1.25rem;
  right: 20%;
  -webkit-transform: scale(2);
          transform: scale(2);
}
@media screen and (max-width: 480px) {
  .hero::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 4.0625rem;
  background: url("/beats-project/img/BigEllipse.png") right center/52% no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .hero__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title::before {
    content: "";
    background: url("/beats-project/img/BigEllipse.png") center center/contain no-repeat;
    width: 20.1875rem;
    height: 20.1875rem;
    margin-bottom: 0.625rem;
  }
}

.hero__main-title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 0.9375rem;
  margin-top: -1.625rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 5%;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
  }
}

.hero__main-desc {
  font-size: 1.3125rem;
  margin-bottom: 2.375rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .hero__main-desc {
    padding: 0 20%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-desc {
    padding: 0 10%;
    font-size: 1.125rem;
  }
}

.hero__main-btn {
  display: block;
  padding-top: 1.125rem;
}

@media screen and (max-width: 768px) {
  .hero__icons {
    display: none;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headphones-section {
  position: relative;
  background-color: #F8FAF9;
}
.headphones-section:before {
  content: url("/beats-project/img/Vector5.svg");
  position: absolute;
  bottom: -1.25rem;
  right: 10%;
  -webkit-transform: scale(3);
          transform: scale(3);
}
@media screen and (max-width: 768px) {
  .headphones-section::before {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.headphones-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headphones__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .headphones__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.headphones__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arrow__icon {
  width: 1.25rem;
  margin: 0 0.125rem 0;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
}

@media screen and (max-width: 768px) {
  .arrow__icon--left {
    position: absolute;
    top: 20%;
    left: 5%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__icon--left {
    left: 0%;
    top: 20%;
  }
}

@media screen and (max-width: 768px) {
  .arrow__icon--right {
    position: absolute;
    top: 20%;
    right: 5%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__icon--right {
    right: 0%;
    top: 20%;
    margin-right: -0.5rem;
  }
}

.headphones__gear {
  position: relative;
  background-color: #9A9A9A;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5625rem;
}
.headphones__gear:hover {
  background-color: #6E6E6E;
}
.headphones__gear:hover .headphones__gear__popup {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  left: 5.625rem;
}
@media screen and (max-width: 768px) {
  .headphones__gear {
    display: none;
  }
}

.gear {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.625rem;
  height: 2.625rem;
}

.headphones__gear__popup {
  position: absolute;
  top: 0;
  left: 562.5rem;
  width: 15.625rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.25rem;
  opacity: 0;
}
.headphones__gear__popup:hover {
  left: 5.625rem;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.headphones__img {
  padding: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .headphones__img {
    width: 18.75rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .headphones__img {
    width: 17.5rem;
    margin-bottom: 1.5625rem;
  }
}

.headphones__desc {
  padding-left: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .headphones__desc {
    text-align: center;
  }
}

.headphones__name {
  font-size: 2.25rem;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .headphones__name {
    font-size: 1.75rem;
  }
}

.headphones__lead {
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .headphones__lead {
    padding: 0 8% 0;
  }
}
@media screen and (max-width: 480px) {
  .headphones__lead {
    padding: 0 6% 0;
  }
}

.headphones__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .headphones__benefits {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.headphones__benefit {
  margin-right: 5.3125rem;
}
.headphones__benefit:last-child {
  margin-right: 0;
}

.benefit__num {
  font-weight: 700;
  font-size: 1.125rem;
  color: black;
}

.headphones__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .headphones__order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.headphones__price {
  font-size: 2.25rem;
  color: #151515;
  margin-right: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .headphones__price {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .headphones__price {
    font-size: 2rem;
  }
}

.properties__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5625rem;
}

.properties__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin-bottom: 1.5625rem;
}
.properties__item:last-child {
  margin-bottom: 0;
}

.properties__icon {
  width: 1.875rem;
  height: 1.875rem;
}

.properties__svg {
  width: 25px;
}

.properties__name {
  text-align: left;
  width: 5.625rem;
}

.properties__num {
  width: 3.125rem;
  text-align: right;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__text {
  max-width: 7.1875rem;
  margin-right: 0.625rem;
}

.battery-icon {
  fill: black;
}

.listening-icon {
  fill: black;
}

.plug-icon {
  fill: black;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6.25rem;
  line-height: 1;
  border: none;
}
.btn-red {
  background: #E01F3D;
  color: #fff;
}
.btn-red:hover {
  background: #fff;
  color: #E01F3D;
}
.btn-transparent {
  background: transparent;
  color: #fff;
  font-weight: 400;
  padding: 1.125rem 0.9375rem;
}
.btn-transparent:hover {
  color: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
.section__title--light {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 3.9375rem;
}

.headline__title {
  margin-bottom: 1.125rem;
  line-height: 1;
}

.headline__subtitle {
  padding: 0 21%;
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url(/beats-project/img/ShapeSeparator.svg);
  position: absolute;
  top: 3.75rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 0.9375rem;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__img-wrapper {
  display: inline-block;
  height: 8rem;
  width: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 480px) {
  .benefit__img-wrapper {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

.benefit__icon {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.3125rem;
}

.benefit__desc {
  line-height: 1.16;
  padding: 0 0.8125rem 0;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0 1.5625rem 0 0;
  }
}

.benefits-section {
  position: relative;
}
.benefits-section::after {
  content: url("/beats-project/img/Vector2.svg");
  position: absolute;
  bottom: -1.25rem;
  left: 5%;
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 1000;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 31.25rem;
}
@media screen and (max-width: 768px) {
  .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .team--desktop {
    display: none;
  }
}

.team--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  width: 13.75rem;
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.team__item:last-child {
  margin-right: 0;
}

.team__member {
  margin-bottom: 1.5625rem;
}

.team__title {
  border: none;
  background-color: inherit;
  font-size: 1.125rem;
  font-weight: 700;
  color: #292929;
  text-align: center;
  margin-bottom: 0.625rem;
}
.team__title:after {
  content: url("/beats-project/img/TeamButton.svg");
  margin: 0.25rem;
  padding: 0;
  width: 0.5625rem;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 1rem;
  }
}

.team__title.active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__content {
  text-align: center;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.team__content-block {
  height: 130px;
}
@media screen and (max-width: 768px) {
  .team__content-block {
    height: 26.25rem;
  }
}

.member__job {
  color: #292929;
  margin-bottom: 0.1875rem;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem;
  overflow: hidden;
  position: relative;
  margin-top: -0.9375rem;
  min-height: 18.75rem;
}
.reviews__display::before {
  content: "";
  display: block;
  height: 5.1875rem;
  width: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.875rem;
}

.reviews__display-inner {
  display: none;
}

.reviews__display-inner.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 6.5625rem 0 2.375rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding: 0 1.5625rem;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 1.4375rem;
  margin-top: 1.8125rem;
}

.reviews__text {
  margin-bottom: 2.1875rem;
  line-height: 1.2;
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: 700;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.25rem solid transparent;
  position: relative;
  margin: 0.625rem 0.125rem 0 0;
}
.interactive-avatar.active {
  border-color: #E01F3D;
}
.interactive-avatar:hover {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  content: url("/beats-project/img/Vector3.svg");
  position: absolute;
  bottom: -1.875rem;
  left: 7%;
  -webkit-transform: scale(2);
          transform: scale(2);
}
@media screen and (max-width: 480px) {
  .reviews-section::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.order-section {
  position: relative;
  background: url("/beats-project/img/OrderBackground.png") center center no-repeat;
  color: #fff;
  background-size: cover;
}
.order-section::before {
  content: url("/beats-project/img/Vector4.svg");
  position: absolute;
  top: -1.25rem;
  right: 5%;
  -webkit-transform: scale(2);
          transform: scale(2);
}
@media screen and (max-width: 480px) {
  .order-section::before {
    top: -1.75rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.625rem;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9375rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: 0.1875rem solid transparent;
  padding: 1.125rem 0.75rem;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 9.625rem;
  resize: none;
  margin-bottom: 1.125rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.input-error {
  border: solid 0.1875rem red;
  background-color: #fcd2e3;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 0.9375rem 1.25rem 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible:before {
  border-radius: 0;
  background: url("/beats-project/img/Check.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 25%;
  right: 2%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.4375rem;
  height: 0.4375rem;
  background: #292929;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fixed-menu__link--active {
  border-color: #E01F3D;
}
.fixed-menu__link--active:before {
  background: #E01F3D;
}

.hamburger {
  width: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
  display: none;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.map-section {
  position: relative;
  background: url("/beats-project/img/Map.png") center center no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.footer__container {
  margin: 1.25rem auto 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adress__desc {
  font-size: 1.125rem;
  color: #000;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .adress__desc {
    font-size: 1.3125rem;
  }
}

.footer__phone-number {
  color: black;
  font-size: 1.125rem;
  line-height: 1.16;
}
@media screen and (max-width: 768px) {
  .footer__phone-number {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .footer__phone-number {
    color: #000;
  }
}

.phone-number__icon-red {
  fill: black;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
@media screen and (max-width: 768px) {
  .phone-number__icon-red {
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone-number__icon-red {
    fill: black;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9.375rem;
  margin-left: 1.25rem;
}

.social_item {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.625rem;
}
@media screen and (max-width: 480px) {
  .social_item {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 1.5rem;
  }
}

.socials__icon {
  width: 2rem;
  height: 2rem;
  fill: #B3B3B3;
  margin-right: 0.625rem;
}
.socials__icon:hover {
  fill: black;
}
@media screen and (max-width: 480px) {
  .socials__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.125rem;
  }
}

.fullscreen__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #313131;
  display: none;
}

.fullscreen__menu-section {
  position: relative;
}

.exit__svg {
  position: absolute;
  top: 2.27rem;
  right: 0.625rem;
  fill: #fff;
}

.fullscreen__menu__list {
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
}

.fullscreen__menu__item {
  margin-bottom: 1.25rem;
}

.fullscreen__menu__link {
  text-decoration: none;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(31, 31, 31, 0.5);
  z-index: 10000;
  display: none;
}

.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 18.75rem;
  min-height: 11.25rem;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2.3125rem;
}

.modal__text {
  color: black;
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}

.modal__button {
  text-decoration: none;
}

.modal-error {
  color: red;
  font-weight: 700;
}