$containerWidth: 940px;
$baseFontSize: 16px;

//Colors
$Red: #E01F3D;

//Z indexes

$ZFixed-menu: 100;

//FontsColor
$lightGray: #666666;
$darkGray: #292929;

//BackgroundColor
$grayHero: #F5F5F5;
$GrayAnother: #F8FAF9;


//Fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap');

//Components
@import "/beats-project/css/components/_layout";
@import "/beats-project/css/components/_header";
@import "/beats-project/css/components/_hero";
@import "/beats-project/css/components/_feature";
@import "/beats-project/css/components/_buttons";
@import "/beats-project/css/components/_section";
@import "/beats-project/css/components/_headline";
@import "/beats-project/css/components/_benefits";
@import "/beats-project/css/components/_benefit";
@import "/beats-project/css/components/_benefits-section";
@import "/beats-project/css/components/_reviews";
@import "/beats-project/css/components/_interactiveAvatar";
@import "/beats-project/css/components/_reviews-section";
@import "/beats-project/css/components/_order-section";
@import "/beats-project/css/components/_form";
@import "/beats-project/css/components/_radio";
@import "/beats-project/css/components/_fixed-menu";