.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__img-wrapper {
    display: inline-block;
    height: rem(128px);
    width: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(15px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(12px);
    }
}

.benefit__icon {
    width: rem(60px);
    height: rem(60px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    color: $darkGray;
    font-size: rem(24px);
    font-weight: 700;
    margin-bottom: rem(5px);
}

.benefit__desc {
    line-height: 1.16;
    padding: 0 rem(13px) 0;

    @include phones {
        padding: 0 rem(25px) 0 0;
    }
}