.btn {
    font-size: rem(16px);
    font-weight: 700;
    padding: rem(18px) rem(41px);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: rem(100px);
    line-height: 1;
    border: none;

    &-red {
        background: $Red;
        color: #fff;

        &:hover {
            background: #fff;
            color: $Red;
        }
    }

    &-transparent {
        background: transparent;
        color: #fff;
        font-weight: 400;
        padding: rem(18px) rem(15px);

        &:hover {
            color: $Red;
        }
    }
}


