.form {
    display: flex;
    margin-top: rem(58px);

    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(11px);
}

.form__block {
    flex: 1;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: rem(3px) solid transparent;
    padding: rem(18px) rem(12px);
    border-radius: rem(4px);

    &--textarea {
        height: rem(154px);
        resize: none;
        margin-bottom: rem(18px);
    }
    
    &:focus {
        border-color: $Red;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.form__btns {
    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.input-error {
  border: solid rem(3px) red;
  background-color: #fcd2e3;
}