.headphones__item {
  @include phones {
    width: rem(400px);
  }
}
.headphones__gear {
  position: relative;
  background-color: #9A9A9A;
  width: rem(90px);
  height: rem(90px);
  border-radius: rem(4px);
  margin-bottom: rem(25px);

  &:hover {
    background-color: #6E6E6E;

    .headphones__gear__popup {
      opacity: 1;
      transition: opacity .5s;
      left: rem(90px);
    }
  }

  @include tablets {
    display: none;
  }
}

.gear {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(42px);
  height: rem(42px);
}

.headphones__gear__popup {
  position: absolute;
  top: 0;
  left: rem(9000px);
  width: rem(250px);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: rem(4px);
  opacity: 0;

  &:hover {
    left: rem(90px);
    opacity: 1;
    transition: opacity .5s;
  }


}

.headphones__img {
  padding: rem(20px);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    width: rem(290px);
    margin-bottom: rem(48px);
  }

  @include phones {
    width: rem(260px);
    margin-bottom: rem(25px);
  }
}

.headphones__desc {
  padding-left: rem(10px);
  flex: 1;
  min-height: rem(400px);

  @include tablets {
    text-align: center;
  }
}

.headphones__name {
  font-size: rem(36px);
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: rem(25px);

  @include tablets {
    font-size: rem(28px);
  }

}

.headphones__lead {
  margin-bottom: rem(27px);

  @include tablets {
    padding: 0 8% 0;
  }

  @include phones {
    padding: 0 6% 0;
  }
}

.headphones__benefits {
  display: flex;
  margin-bottom: rem(25px);

  @include tablets {
    justify-content: center;
    align-items: center;
  }
}

.headphones__benefit {
  margin-right: rem(85px);

  &:last-child {
    margin-right: 0;
  }
}

.benefit__num {
  font-weight: 700;
  font-size: rem(18px);
  color: black;
}

.headphones__order {
  display: flex;
  align-items: center;
  height: 3.5rem;

  @include tablets {
    justify-content: center;
  }
}

.headphones__price {
  font-size: rem(36px);
  color: #151515;
  margin-right: rem(1px);
  line-height: 1;

  @include tablets {
    font-size: rem(40px);
  }

  @include phones {
    font-size: rem(32px);
  }
}

.btn.headphones__btn{
  padding: 1.125rem 2rem;
}

.bx-wrapper {
  margin: 0 2.7rem 3.75rem;
}