.headphones-section {
  position: relative;
  background-color: $SectionGray;

  &:before {
    content: url("./img/Vector5.svg");
    position: absolute;
    bottom: rem(-20px);
    right: 10%;
    transform: scale(3);
  }

  @include tablets {
    &::before {
      transform: scale(2);
    }
  }
}

.headphones-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
}

.headphones__item {
  display: flex;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
  margin: 0 rem(15px) rem(60px);
}

.headphones__list {
  flex-wrap: wrap;
}


.arrow__icon {
  width: rem(20px);
  margin: 0 rem(2px) 0;
  flex-basis: 60px;
  z-index: 10000;
}

.arrow__icon--left {
  @include tablets {
    position: absolute;
    top: 20%;
    left: 5%;
  }

  @include phones {
    left: 0%;
    top: 20%;
  }
}

.arrow__icon--right {
  @include tablets {
    position: absolute;
    top: 20%;
    right: 5%;
  }

  @include phones {
    right: 0%;
    top: 20%;
    margin-right: rem(-8px);
  }
}