.benefits-section {
    position: relative;

    &::before {
        content: url("/beats-project/img/Vector2.svg");
        position: absolute;
        bottom: -20px;
        left: 5%;
        transform: scale(2);
    }
}