.btn {
    font-size: 16px;
    font-weight: 700;
    padding: 18px 41px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    line-height: 1;

    &-red {
        background: $buttonRed;
        color: #fff;
    }
}


