.feature {
    display: flex;
}
.feature__icon  {
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.feature__text {
    max-width: 115px;
    margin-right: 10px;
}
