.features {
    display: flex;
}

.feature {
    display: flex;
}

.features__item {
    margin-right: 23px;
    &:last-child {
        margin-right: 0;
    }
}

.feature__icon  {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.feature__desc {
    max-width: 114px;
}