.feature {
    display: flex;
}

.feature__icon  {
    width: rem(40px);
    margin-right: rem(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__text {
    max-width: rem(115px);
    margin-right: rem(10px);
}

.battery-icon {
    fill: black;
}

.listening-icon {
    fill: black;
}

.plug-icon {
    fill: black;
}