.form {
    display: flex;
    margin-top: 58px;
}

.form__col {
    flex: 1;
    margin-right: 27px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 11px;
}

.form__block {
    flex: 1;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: 3px solid transparent;
    padding: 18px 12px;
    border-radius: 4px;

    &--textarea {
        height: 154px;
        resize: none;
        margin-bottom: 18px;
    }
    
    &:focus {
        border-color: $Red;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}
