.hero {
    background-color: $grayHero;
    height: 100vh;
    min-height: 650px;
    color: $darkGray;
    position: relative;

    &:before     {
        content: url("/beats-project/img/Vector1.svg");
        position: absolute;
        bottom: -20px;
        right: 20%;
        transform: scale(2);
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 65px;
    background: url("/beats-project/img/BigEllipse.png") right center / 52% no-repeat;
} 

.hero__title {
    width: 40%;
}

.hero__main-title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero__main-desc {
    font-size: 21px;
    margin-bottom: 54px;
    line-height: 1.2;
}

.features__list {
    display: flex;
}