.order-section {
    position: relative;
    background: url("/beats-project/img/OrderBackground.png")center center no-repeat;
    color: #fff;
    background-size:cover;

    &::before {
        content: url("/beats-project/img/Vector4.svg");
        position: absolute;
        top: -20px;
        right: 5%;
        transform: scale(2);
    }
}
