.reviews-section {
    position: relative;

    &::before {
        content: url("/beats-project/img/Vector3.svg");
        position: absolute;
        bottom: -30px;
        left: 7%;
        transform: scale(2);
    }
}